/* http://meyerweb.com/eric/tools/css/reset/ 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.button {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	padding: 8px 20px;
	margin: 16px 0;
}

.button-light {
	background: #FFFFFF;
	color: #000000;
}

.button-green {
	background: #A1D76F;
	color: #FFFFFF;
}

.text {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-style: italic;
	margin: 0 auto;
}


/* Group Trainin Tab */
.training-wrapper {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.training-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  padding: 20px;
}

.training h2 {
	font-size:xx-large;
}

.training h3 {
	font-size:x-large;
}

.training p {
	font-size:large;
}

.training-intro p{
	margin-top: 20px;
}

.training-intro img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.training-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.training-text, .training-image {
  flex: 1 1 45%;
  min-width: 300px;
}

.training-image img {
  max-width: 100%;
  height: auto;
}

.training-text ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}
/* Group Trainin Tab */

@media screen and (min-width: 1400px) {

	/* mobil */
	body {
		background: url("imgProjektc/background_texture1.jpg");
	}

	/* header */
	#top {
		font-size: 25px;

		width: 100%;
		height: 3em;
		background: #36152ac4;
		position: sticky;
		top: 0;
		z-index: 1000;
		backdrop-filter: blur(10px);
	}

	#main-menu ul li a:hover {
		color: rgb(247, 176, 240);
		text-shadow: 0 0 20px rgb(224, 35, 193);
		box-shadow: none;
		background-color: transparent;
		cursor: pointer;
	}

	.mobil {
		display: flex;
		justify-content: space-between;
	}

	#logo img {
		width: 13em;
		height: 3em;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
	}

	#main-menu ul {
		display: flex;
		justify-content: space-between;
		padding: 1em;
	}

	#main-menu ul li {
		padding-left: 1em;
		padding-right: 1em;
	}

	#main-menu ul li a {
		font-size: 25px;
		color: #FFF;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		text-decoration: none;
	}

/* ------------------ */

	.offer-text-title {
		text-align: center;
		margin-bottom: 20px;
		font-size: 40px;
	}

	.offer {
		color: #FFF;
		background: url('imgProjektc/concrete.jpg');
		font-family: "Lato", sans-serif;
		font-weight: 900;
		font-style: italic;
		margin: 0 auto;
	}

	.offer h2 {
		margin-bottom: 40px;
		text-transform: uppercase;
	}

	/* Baner */

	img {
		max-width: 40%;
		height: auto;
	}

	.banner-box{
		margin: auto;
		background: url("imgProjektc/banner.webp") 0 -120px;
		border-radius: 50px;
		height: 100px;
		width: 90%;

	}

	.banner-box{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner-text {
		text-align: center;
		text-transform: uppercase;
		font-size: 50px;
		color: #FFF;
		width: 100%;
		height: auto;
	}

	section {
		clear: both;
		padding: 50px 0;
		overflow: auto;
	}


	/* Sekcja offer */

	.cards {
		display: flex;
		justify-content: center;
	}

	.card-button {
		border: none;
		background: none;
		cursor: pointer;
		margin: 0 10px;
	}

	.card-button:hover .card {
		box-shadow: 0 0 24px rgba(250, 51, 217, 1); 
		border-radius: 10px;
		transition: box-shadow 0.3s ease;
	}

	.card {
		width: 18rem;
		border: 1.5px solid #3f0f37;
		border-radius: 15px;

		box-shadow: 0px 0px 10px #f194de;
		overflow: hidden;

		height: 12.5rem;
		position: relative;
	}

	.card-body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.card-text-title {
		text-align: center;
		padding: 70px;
		text-transform: uppercase;
		font-size: 30px;
		color: #FFF;
		font-style: normal;
	}

	.button-card {
		border-radius: 40px;
		border: none;
	}

	.card1 {
		background: url("imgProjektc/card1.jpg") -370px;
	}

	.card2 {
		background: url("imgProjektc/card2.jpg") 0 220px;
	}

	.card3 {
		background: url("imgProjektc/hala.webp") 0 250px;
	}

	.card4 {
		background: url("imgProjektc/card4.jpg") 500px -450px;
	}

	/* About us */

	#aboutus {
		background: #000;
		padding: 50px 0;
	}

	.three-columns {
		width: 33.33%;
		float: left;
		box-sizing: border-box;
		padding: 0 15px;
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#aboutus h2 {
		color: #FFF;
		text-transform: uppercase;
		font-size: 40px;
		margin-top: 20px;
	}

	#aboutus h3 {
		/* padding-left: 20px;
		padding-right: 20px;
		text-align: center;
		color: #FFF;
		font-size: 30px; */
		
		padding: 20px;
		text-align: center;
		color: #fff;
		font-size: 32px;
		background: rgba(241, 142, 241, 0.1); /* Прозрачный белый */
		backdrop-filter: blur(10px); /* Размытие фона */
		-webkit-backdrop-filter: blur(10px); /* Поддержка для Safari */
		border-radius: 12px;
		box-shadow: 0 4px 20px rgba(241, 126, 229, 0.3);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		letter-spacing: 1px;
		margin: 20px auto;
		max-width: 800px;
		line-height: 1.4;

		text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
	}

	/* Sekcja Kontakt */
	#contact {
		text-align: center;
		background: url('imgProjektc/concrete.jpg');
	}

	#contact * {
		color: #000;
		font-style: italic;
		font-family: "Lato", sans-serif;
		font-weight: 900;
	}

	#contact input {
		margin-bottom: 16px;
		border-radius: 5px;
		border: 1px solid #DDDD;
		padding: 8px;
		width: 80%;
		font-size: 20px;
	}

	#contact h2 {
		color: #FFF;
		font-size: 40px;
	}

	#contact button {
		width: 82%;

		color: #000000;
		background-color: #fa33d9;
		font-family: "Lato", sans-serif;
		font-weight: 900;
		font-size: 20px;
		font-style: normal;
		margin: 0 auto;
	}

	#contact button:hover {
		background-color: rgb(249, 138, 231);
		box-shadow: 
			0 4px 6px rgba(0, 0, 0, 0.3), /* нижняя тень — глубина */
			0 -2px 4px rgba(255, 255, 255, 0.2), /* верхний блик — эффект света */
			0 0 20px rgba(250, 51, 217, 0.6); /* общее свечение */
		border-radius: 10px;
		transition: box-shadow 0.3s ease;
		cursor: pointer;
		transform: translateY(-1px); 
	}

	#contact h2 {
		padding: 10px 0;
		text-transform: uppercase;
		font-size: 220%;

	}

	.two-columns {
		width: 50%;
		float: left;
		box-sizing: border-box;
		padding: 0 15px;
	}

	/* adress */
	#adress {
		text-align: center;
		background: url('imgProjektc/grass2.jpg');
		/* background-size: cover; */
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	#adress * {
		font-style: italic;
		font-family: "Lato", sans-serif;
		font-weight: 900;
		color: #FFF;
	}

	#adress h2 {
		padding: 10px 0;
		text-transform: uppercase;
		font-size: 40px;
	}

	.two-columns {
		width: 50%;
		float: left;
		box-sizing: border-box;
		padding: 0 15px;
	}

	.two-columns iframe {
		width: 85%;
		box-sizing: border-box;
		padding: 0 15px;
	}


	/* Stopka */
	footer {
		background: #993366;
		color: #FFFFFF;
		padding: 16px 0;
		text-align: right;
	}

	.burger {
		display: none;
	}
}

@media screen and (min-width: 992px) and (max-width: 1399px) {
	/* Общие стили для среднего диапазона */

	body {
		background: url("imgProjektc/background_texture1.jpg");
	}

	#top {
		font-size: 24px;
		height: 3em;
		background: #36152ac4;
		position: sticky;
		top: 0;
		z-index: 1000;
		backdrop-filter: blur(10px);
	}

	.mobil {
		display: flex;
		justify-content: space-between;
	}

	#logo img {
		width: 10em;
		height: 3em;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
	}

	#main-menu ul {
		display: flex;
		justify-content: space-between;
		padding: 1em;
	}

	#main-menu ul li {
		padding-left: 0.7em;
		padding-right: 0.7em;
	}

	#main-menu ul li a {
		font-size: 22px;
		color: #FFF;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
	}

	.banner-box {
		margin: auto;
		background: url("imgProjektc/banner.webp") 0 -100px;
		border-radius: 40px;
		height: 120px;
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.banner-text {
		text-align: center;
		font-size: 40px;
		color: #FFF;
		text-transform: uppercase;
	}

	.cards {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.card {
		width: 15rem;
		margin: 15px;
	}

	.card-text-title {
		font-size: 24px;
		padding: 60px;
	}

	#aboutus h3 {
		font-size: 26px;
		padding: 15px;
	}

	.three-columns {
		width: 50%;
		float: left;
		box-sizing: border-box;
		padding: 15px;
	}

	#contact h2,
	#adress h2 {
		font-size: 32px;
	}

	#contact input,
	#contact button {
		width: 70%;
		font-size: 18px;
	}
}

/* mobil */
@media screen and (max-width: 992px) {

	body {
		background: url("imgProjektc/background_texture1.jpg");
	}

	/* header */
	#top {
		font-size: 25px;

		width: 100%;
		height: 3em;
		background: #36152ac4;
		position: sticky;
		top: 0;
		z-index: 1000;
		backdrop-filter: blur(10px);
	}

	.mobil {
		display: flex;
		justify-content: space-between;
	}

	.container.top.mobil {
		height: 100%;
		width: 100%;
		display: flex; /* если нужно выравнивание содержимого */
		align-items: center; /* вертикальное центрирование */
	}

	#logo {
		display: none;
	}

	#main-menu {
		height: 100%;
		width: 100%;
		display: flex; 
		align-items: center;
		justify-content: center;
	}

	#main-menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		gap: 0.5em; /* расстояние между пунктами меню */
	}

	#main-menu ul li {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}

	#main-menu ul li a {
		font-size: 25px;
		color: #FFF;
		font-family: 'Lato', sans-serif;
		font-style: normal;
		text-decoration: none;
	}

	.banner {
		width: 90%;
		height: 15px;
		/* Установите высоту баннера по вашему усмотрению */
		background: url("imgProjektc/banner.webp") 0 -120px;
		background-size: cover;
		/* Растягиваем изображение на всю область баннера */
		background-position: center;
		/* Центрируем изображение */
		border-radius: 35px;
		/* Закругляем углы */
		margin: 20px auto;
		/* Выравниваем баннер по центру */
		position: relative;
		/* Измените позицию на relative */
		overflow: hidden;
		/* Обрежем изображение, если оно выходит за границы */
	}

	.banner-text {
		position: absolute;
		/* Абсолютное позиционирование для текста */
		top: 50%;
		/* Располагаем текст по вертикали посередине баннера */
		left: 50%;
		/* Располагаем текст по горизонтали посередине баннера */
		transform: translate(-50%, -50%);
		/* Сдвигаем текст на половину своей ширины и высоты назад */
		text-align: center;
		padding: 20px;
		/* Добавляем внутренние отступы */
		background-color: rgba(0, 0, 0, 0.5);
		/* Добавляем прозрачный цвет фона для текста */
		border-radius: 10px;
		/* Закругляем углы текстового блока */
		color: #fff;
		/* Устанавливаем цвет текста */
		font-size: 30px;
		/* Устанавливаем размер шрифта */
		text-transform: uppercase;
		/* Преобразуем текст в верхний регистр */
	}

	/* offers	 */
	.offer {
		color: #fff;
		background: url('imgProjektc/concrete.jpg');
		margin: 0 auto;
	}

	.offer-text-title {
		text-align: center;
		margin-bottom: 20px;
		font-size: 30px;
	}

	.offer h2 {
		margin-bottom: 40px;
		text-transform: uppercase;
	}

	section {
		clear: both;
		padding: 50px 0;
		overflow: auto;
	}


	/* Секция offer */

	.cards {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.card-button {
		border: none;
		background: none;
		cursor: pointer;
		margin: 0 10px;
		display: flex;
		justify-content: center;
	}

	.card {
		width: 70%;
		margin: 20px;

		border: 1.5px solid #3f0f37;
		border-radius: 15px;
		box-shadow: 0px 0px 10px #130410;
		overflow: hidden;
		height: 12.5rem;
		position: relative;
	}

	.card-body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.card-text-title {
		text-align: center;
		padding: 50px;
		/* Уменьшаем внутренние отступы */
		text-transform: uppercase;
		font-size: 160%;
		/* Уменьшаем размер шрифта */
		color: #FFF;
		font-style: normal;
	}

	.button-card {
		border-radius: 40px;
		border: none;
	}

	.card1 {
		background: url("imgProjektc/card1.jpg") -370px;
	}

	.card2 {
		background: url("imgProjektc/card2.jpg") 0 220px;
	}

	.card3 {
		background: url("imgProjektc/hala.webp") 0 250px;
	}

	.card4 {
		background: url("imgProjektc/card4.jpg") 500px -450px;
	}

	/* About us */

	#aboutus {
		background: #000;
		padding: 50px 0;
	}

	.three-columns {
		width: 100%;
		/* Изменяем ширину колонок на 100% */
		float: none;
		box-sizing: border-box;
		padding: 0 15px;
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#aboutus h2 {
		color: #FFF;
		text-transform: uppercase;
		font-size: 40px;
	}

	#aboutus h3 {
		/* text-align: center;
		color: #FFF;
		font-size: 30px; */

		padding: 20px;
		text-align: center;
		color: #fff;
		font-size: 20px;
		background: rgba(241, 142, 241, 0.1); /* Прозрачный белый */
		backdrop-filter: blur(10px); /* Размытие фона */
		-webkit-backdrop-filter: blur(10px); /* Поддержка для Safari */
		border-radius: 12px;
		box-shadow: 0 4px 20px rgba(241, 126, 229, 0.3);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		letter-spacing: 1px;
		margin: 20px auto;
		max-width: 800px;
		line-height: 1.4;

		text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
	}

	#aboutus img {
		font-size: 30px;
		width: 6em;
		height: 6em;
	}



	/* Секция Kontakt */
	#contact {
		text-align: center;
		background: url('imgProjektc/concrete.jpg');
	}

	#contact * {
		color: #000;
		font-style: italic;
		font-family: "Lato", sans-serif;
		font-weight: 900;
	}

	#contact input {
		margin-bottom: 16px;
		border-radius: 5px;
		border: 1px solid #DDDD;
		padding: 8px;
		width: 80%;
	}

	#contact h2 {
		color: #FFF;
	}

	#contact button {
		background-color: #fa33d9;
		width: 80%;
		color: #000000;
		background-color: #fa33d9;
		font-family: "Lato", sans-serif;
		font-weight: 900;
		font-style: normal;
		margin: 0 auto;
	}

	#contact h2 {
		padding: 10px 0;
		text-transform: uppercase;
		font-size: 30px;
	}

	.two-columns {
		width: 100%;
		/* Изменяем ширину колонок на 100% */
		float: none;
		box-sizing: border-box;
		padding: 0 15px;
	}

	.two-columns iframe {
		width: 85%;
		box-sizing: border-box;
		padding: 0 15px;
	}


	/* Адрес */
	#adress {
		text-align: center;
		background: url('imgProjektc/grass2.jpg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}

	#adress * {
		font-style: italic;
		font-family: "Lato", sans-serif;
		font-weight: 900;
		color: #FFF;
	}

	#adress h2 {
		padding: 10px 0;
		text-transform: uppercase;
		font-size: 30px;
	}

	.two-columns {
		width: 100%;
		/* Изменяем ширину колонок на 100% */
		float: none;
		box-sizing: border-box;
		padding: 0 15px;
	}

	.two-columns iframe {
		width: 85%;
		box-sizing: border-box;
		padding: 0 15px;
	}


	/* Футер */
	footer {
		background: #993366;
		color: #FFFFFF;
		padding: 16px 0;
		text-align: right;
	}

	.burger {
	background: none;
	border: none;
	font-size: 30px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	margin-right: 1em;
	z-index: 1001;
	}

	/* Скрываем меню по умолчанию */
	#main-menu {
	display: none;
	flex-direction: column;
	background-color: rgba(193, 73, 149, 0.95);
	position: absolute;
	top: 3em;
	left: 0;
	width: 100%;
	padding: 1em 0;
	}

	#main-menu.active {
	display: flex;
	}

	#main-menu ul {
	flex-direction: column;
	gap: 0.5em;
	align-items: center;

	text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
	}
}

@media (max-width: 768px) {
	/* Group Trainin Tab */
  .training-block {
    flex-direction: column;
  }

  .training-text, .training-image {
    flex: 1 1 100%;
  }
  /* Group Trainin Tab */
}

/* for conflict between Bootstrap and old styles*/
a { text-decoration: none; }
button { text-transform: none; }

/* Karuzel bootstrap styles */

#gallery h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

/* limiting the width of the carousel and centering it*/
#gymCarousel {
    max-width: 900px;
    margin: 0 auto;  
}

/* Frame and neon glow */
.carousel-inner {
    border: 1.5px solid #3f0f37;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #f194de;
    overflow: hidden;
    width: 100%; 
    height: 100%;
}

/* img size in carousel */
.carousel-item img {
    width: 100%;
    max-width: 100%;  
    height: 450px;     
    object-fit: cover; 
    display: block;    
}

/* button 'next', 'previous' */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #fa33d9;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-size: 50%;
    box-shadow: 0 0 10px rgba(250, 51, 217, 0.5);
    transition: all 0.3s ease;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: rgb(249, 138, 231);
    box-shadow: 0 0 20px rgba(250, 51, 217, 1);
    transform: scale(1.1);
}

/* shaddow for frame */
.carousel-control-prev,
.carousel-control-next {
    opacity: 0.8;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

/* media for mobile */
@media screen and (max-width: 768px) {
    .carousel-item img {
        height: 280px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 2rem;
        height: 2rem;
    }
}
